.calculatorKeyboard {

}

.littleButtonsContainer {
    display: flex;
    flex-wrap: wrap;
}

.plusButtonContainer {
    display: flex;
}

.plusButtonContainer div:first-child {
    display: flex;
    flex-wrap: wrap;
}