.button {
    /*background: red;*/
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    padding: 1em;
    flex-grow: 2;

    background: #ff3077;
    color: #ffffff;
}