.currencySelectContainer {
    /*background: red;*/
    color: #000000;
    display: flex;
}

select {
    font-size: 0.6em;
    font-weight: 600;
    /*background: #0c2835;*/
    color: #ff3077;
    padding: 0.5em 0;
    border: none;
}

select:hover, select:focus {
    color: #03bfff;
    outline: none;
}

select option {
    /*background: #0c2835;*/
    /*color: red;*/
    font-weight: 600;
    color: #ff3077;
}

select * {
    padding: 1em;
    /*background: red;*/
    border-radius: 1em;
}