.navigation {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5em;
}

a {
    color: #ffffff;
    padding: 0.5em;
    text-decoration: none;
}

a:hover {
    color: #03bfff;
}

a:active {
    color: #ff3077;
}

.activeLink {
    color: #03bfff;
}