.button, .activeButton {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    padding: 1em;
    flex-grow: 0;

    background: #0c2835;
    color: #ffffff;
}

.button:active, .activeButton {
    background: #03bfff;
}