.button, .isActive {
    /*background: red;*/
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    padding: 1em;
    flex-grow: 1;

    background: #ff3077;
    color: #ffffff;
}

.deleteIcon {
    height: 4em;
}

.button:active, .isActive {
    background: #03bfff;
}