.calculatorInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input {
    font-weight: 500;
    font-size: 1.2em;
    padding: 1em;
    margin: 0.1em;
    text-align: right;
    background: #ffffff;
    height: 2.5em;
}

.historyInput {
    font-weight: 400;
    font-size: 0.85em;
    color: #999999;
    text-align: right;
    background: #ffffff;
}

input {
    /*background: red;*/
    border: none;
    padding: 0;
    font-size: 1em;
    text-align: right;
    width: 100%;
}

input:focus {
    outline: none;
}