html {
  display: flex;
  justify-content: center;
  background: #232d3e;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 16.8em;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: stretch;
  width: 100%;
}

.little-row {
  display: flex;
}

.double-row {
  display: flex;
  justify-content: stretch;
}

.App-link {
  color: #61dafb;
}